# Auto detect text files and perform LF normalization
* text=auto

Proje React ve TypeScript ile kuruldu. https://create--react--app-dev.translate.goog/docs/adding-typescript/?_x_tr_sl=en&_x_tr_tl=tr&_x_tr_hl=tr&_x_tr_pto=sc Linkinden projeyi TypeScript ile çalıştırmak adına gerekli olan komutları kullanabilirsiniz.